
.form-helper{

}
.form-helper-title{
    margin: 2px;
    text-align: center;
    text-transform: capitalize;


}
.form-helper-max-width{
    width: 100%;
}
.form-helper-half-width{
    width: 50%;
}

.form-helper-div-input{
    width: 100%;
    text-align: center;
}
.form-helper-input{
    width: 98%;
    border: solid 1px #dce4dc;;
    background-color: white;
    color: black;
    padding: 6px;
    margin: 7px;
    height: 35px;
}
.form-helper-input:focus{
    font-style: normal;

}

.form-helper-textarea{
    width: 100%;
    min-height: 150px;
}

.form-helper-select{

}
.form-helper-select>option{

}
.form-helper-label{
    font-weight: bold;
    font-family: serif;
    margin: 4px;
}
.form-helper-button{
    margin: 4px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}
.form-helper-button:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.hr-button-block{
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    margin: 2px;
    width: 100%;
}
.primary{
    background-color: whitesmoke;
    color: black;
}
.danger{
    background-color: firebrick;
    color: white;
}
.success{
    background-color: #4CAF50;
    color: white;
}
.white-on-blue{
    background-color: #224489;
    color: white;
}
.form-helper-checkbox{
    width: 100%;
    margin: 0px;
    background-color: inherit;
}
.warning{
    background-color: #dcd035;
    color: #ffffff;
    font-weight: bold;
}

.text-centered{
    text-align: center;
}

.list-from-model-container{

}
.list-from-model-checkbox-container{

}