.modal{
    background-color: rgba(53, 55, 68, 0.18);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

}
.modal-box{
    min-width: 300px;
    min-height: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px 2px;
}
.closed-modal{
    display: none;
}
.modal-close{
    background-color: darkred;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
}
.modal-content{

    background-color: white;
    width: 80%;
    height: 50%;
}

