.users-interface-block{
    width:100%;
    border-color: #494e7d;
}

.users-interface-header{

}
.users-interface-content{

}
.figure-avatar{
    margin: 2px;
}

.users-interface-form-block{

}
.users-interface-list-block{
    display: table;
    width: 100%;
}
.users-interface-list-block-header{

    display: table-header-group;
    background-color: #e1e2ec;
    font-family: fantasy;
    color: #030535;
}
.users-interface-list-block-header > div {
    display: table-row;
}
.users-interface-list-block-header > div >div {
    display:table-cell;
    border-right: solid thin green;
    width: 75px;
}
.user-list-single-block{
    display: table-row;
    background-color: white;
    border-bottom: solid thin lavender;
}
.user-list-single-block:nth-of-type(odd){
    display: table-row;
    background-color: #e5e6d8;
}
.user-list-single-block>div{
    display: table-cell;
    border: solid 0.5px lavender;
    border-bottom: solid thin lightsteelblue;
}
.user-list-single-block:hover{
    border-bottom: solid thin blue;
    box-shadow: 1px 1px 3px;
    transform: scale(1.02);
}

.user-search-new-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.search-input{
    border: none;
    max-height: 100%;
    margin: 0;
    padding: 0px 6px;
    border-radius: 4px;
}
.input-user-search:focus{
    border-style: none;
    border-right: 0px;
}
.div-img-search{
    max-height: 45px;
    padding: 1px;
    max-width: 35px;
}
.button-image-user-search{
    height: 100%;
}
.div-user-search-block{
    display: flex;
    flex: 2;
    border: solid 1px #19042d70;
    border-radius: 4px;
    height: 35px;

}


