.mcqs-manager-container{
    background-color: white;
}
.mcqs-manager-body{
    display: flex;
    justify-content: space-around;

}
.mcqs-manager-body>div{
    padding: 10px 15px;
}
.mcqs-manager-body>div:first-child{
    flex: 1;
}
.mcqs-manager-body>div:last-child{
    flex: 5;
}


.selected-course-infos{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    border-bottom: solid thin #c4c4da;
}
.div-options{

}
.options-div{

}
.options-div>h3{
    font-size: large;
    padding-bottom: 4px;
    border-bottom: solid 2px #102858d9;
}
.activity-div{
    border: solid thin #d4d3dec7;
    min-height: 200px;
    padding: 4px;
}
