.one-test-div{
    display: flex;
    background-color: rgba(131, 155, 149, 0.56);
    justify-content: space-between;
    text-align: center;
}
.test-creation-header{
    text-align: center;
}
.mcqs-list{

}
.one-mcq-test-div{
    margin: 4px;
    border: solid thin whitesmoke;
    background-color: whitesmoke;
    padding: 2px;

}

.one-test-div>div>.one-mcq-test-div:nth-of-type(odd){

}
.produce-test-button{
    margin:1px;
    padding: 2px;
}
.mcqs-list,.selected-mcqs-list{
    width: 50%;
    overflow:auto;
}
.test-title-input{
    text-align: center;
}
.test-list-title{
    border: solid thin #c7c8ea;
    margin: 5px 0px;
    padding: 2px;
    font-family: "Century Gothic";
}
.test-list-title:hover{
    transform: scale(1.02);
}
.test-list-title:nth-of-type(even){
    background-color: lightgray;
}
.runtest-button-div{
    text-align: center;
    border-top: solid 1px #babae8d6;
    margin-top: 7px;
    display: none;
}
.test-list-title:hover .runtest-button-div{
    display: block;
}

/**--------styles of test result ------------*/
.test-score-div{
    color: darkred;
    font-weight: bold;
    font-style: oblique;
    padding: 2px;
    text-align: center;
    margin: 2px;
    font-size: 18px;
}
.test-result-div{
    display: flex;
    align-items: flex-start;
    justify-items: center;
}

.failed-mcq-number{
    text-align: center;
    font-size: 18px;
    background-color: #5c5cbd;
    margin: 4px;
    font-style: italic;
    color: #0e3419;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;

}
.failed-mcq-number>h4{

}
.failed-mcq-number>div:hover{
    transform: scale(1.1);
}
.failed-mcq-number>div:nth-of-type(even){
    background-color: whitesmoke;
    margin: 4px 0px;
    color: darkslateblue;
}
.failed-mcq-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 400px;
    min-height: 200px;
    margin: 1px 10px;
    border: solid thick #6a74861c;
    border-radius: 5px;
}
.passed-test-div{
    font-size: large;
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    color: darkblue;
    padding: 10px;

}
.title-failed-result{
    color: darkblue;
    font-family: "Arial Rounded MT Bold";
    font-size: 18px;
    font-style: italic;
    margin: 0px 4px 10px;
}
.test-result-title{
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-family: Georgia;
    margin: 10px;
}