.course-content-div {
    border: solid thin whitesmoke;
    padding: 2px;
    background-color: white;
}
.sub-element-content{
    margin-left: 2%;
}

.title-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-div,.content-div{
    padding: 10px;
}
.course-content-div .ql-editor{
    padding: 0!important;
    margin: 0;

}
.course-content-div .ql-container.ql-snow{
    border:none;
}
.new-mcq-button{
    margin:1px;
    padding: 2px;

}
.new-mcq-option{
    float: right;
    display: flex;
}
.course-options{
    display: flex;
    flex-direction: column;
    right: 0px;
    position: fixed;
    width: 15%;
    z-index: 2;
    justify-content: space-evenly;
    margin-top: 10px;
}
.course-nav-sub-title{
    padding: 0px 0px 0px 4px;
}


