.nav-title{
    text-shadow: 2px -1px #5a4231;
    text-decoration: underline;
    color: #253f4e8a;
}
.element-div,.selected-element-div{
    border: solid thin #dfece0;
    margin: 10px 1px;
    padding: 5px 2px;
    text-align: center;
    box-shadow: 0px 0px 2px yellowgreen;
    font-weight: 300;
    text-transform: capitalize;
    cursor: pointer;
    font-family: serif;
    background-color: #486f44;
    color: white;
    max-height: 46px;
    min-width: 150px;
    overflow: hidden;
}

.selected-element-div{
    background-color: #c5c500;
}

.element-div:hover{
    transform: scale(1.005);
    margin: 8px 0px;
    color: #040440f5;
    background-color: #f5efed2e;
    border: solid thin #39423a;
}
.sub-elements-div{
    margin: 2px 0px 2px 8px;
}