.mcqs-manager-container{
    background-color: white;
}
.mcqs-manager-body{
    display: flex;
    justify-content: space-around;

}
.mcqs-manager-body>div{
    padding: 10px 15px;
}
.mcqs-manager-body>div:first-child{
    flex: 1;
}
.mcqs-manager-body>div:last-child{
    flex: 5;
}


.selected-course-infos{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    border-bottom: solid thin #c4c4da;
}
.div-options{

}
.options-div{

}
.options-div>h3{
    font-size: large;
    padding-bottom: 4px;
    border-bottom: solid 2px #102858d9;
}
.activity-div{
    border: solid thin #d4d3dec7;
    min-height: 200px;
    padding: 4px;
}

.right-nav-options{
    display: flex;
    flex-direction: column;
    right: 0px;
    position: fixed;
    width: 15%;
    z-index: 2;
    justify-content: space-evenly;
    margin-top: 10px;
}

.passed-tests-div{

}

.passed-tests-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.current-passed-test-nav{
    background-color: #759202 !important;
    color: white !important;
    font-weight: bold !important;
}