.flash-box{
    width: 100%;
    padding: 2px;
    text-align: center;
}
.flash-message{
    font-size: 18px;
}
.flash-box-success{
    background-color: lightgreen;
    color: darkblue;
}
.flash-box-error{
    background-color: lightcoral;
    color: darkblue;
}
.flash-box-warning{
    background-color: burlywood;
    color: darkblue;
}