.course-creation-main{
    display: flex;
    height: 100%;
    min-width: 700px;
    justify-content: center;
    background-color: white;
}

.navigation-panel{
    width: 5%;
    border: solid thin dodgerblue;
    margin: 1px;
}

.course-creation-panel{
    width: 92%;
    border: solid thin whitesmoke;
    margin: 1px;
}

.create-course-options-div{
    text-align: right;
    border-bottom: solid 2px #0b7d09e8;
    padding-bottom: 2px;
}

.content-from-quill .ql-editor{
    padding: 0!important;
    margin: 0;
}

.content-from-quill .ql-container.ql-snow{
    border:none;
}

.sub-element-div{
    background-color: #e8e8f5;
    margin: 10px;
    cursor: pointer;
}