.welc_text{
    /*font-family:  "Comic Sans Ms","Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;*/
    color: rgba(37, 1, 86, 0.80);
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 4px blanchedalmond;
}

.welc_slogan{
    font-size: 39px;
    color: #050b52fa;
    letter-spacing: 13px;
    font-weight: bold;
    text-shadow: 2px 4px blanchedalmond;
}

.welcome{
    background-color: rgba(4,4,28,0.34);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;

}
.each-slide{
    min-height: 300px;
}