.user-profile-main-div{
    background-color: #ffffff38;
}
.user-profile-title{
    position: sticky;
    margin: 0px;
    top: 40px;
    font-family: Poor Richard;
    background-color: white;
    padding: 10px 5px;
    font-size: xx-large;
}
.session-title{
    border-bottom: solid thick darkslateblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: serif;
    background-color: white;
}

.user-profile-avatar{
    display: flex;
    align-items: center;
}

.user-profile-informations{
    display: table;
    width: 100%;
    text-align: center;
    padding: 4px;
    margin: 4px 0px;
    font-family: Arial;
    font-style: oblique;
    font-weight: 700;
    background-color: white;
}

.user-profile-informations>div{
    display: table-row;
}

.user-profile-informations>div:nth-of-type(even){
    background-color: whitesmoke;
}

.user-profile-informations>div>div:first-child{
    display: table-cell;
    width: 50%;
    padding: 9px 0px;
}

.user-profile-informations>div>div:last-child{
    display: table-cell;
}

.user-profile-taught-courses-div,
.user-profile-followed-courses-div,
.user-profile-modify-connexion-params{
    background-color: #fffffff7;
}
.user-profile-modify-connexion-params{

}