:root{
    --fifth-color: rgba(255, 1, 180, 0.49);
    --secondary-color: #ffe83b;
    --third-color: #abe432;
    --fourth-color: #069b0b;
    --main-color: #0e3419;
    --white-background-color: #e7e7e7;
    --grey-line-color: #e7e7e7;
    --text-color: #000000;

}

html, body, #root, .App {
    height: 100%;
    color: var(--secondary-color);
}
.container{
    max-width: 1000px;
}


.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}

aside {
    height: 100%;
    margin-top: 45px;
    max-height: calc(100% - 96px);
    transform: translateX(0px);
    width: 300px;
    position: fixed;
    z-index: 3;
    transition: .5s cubic-bezier(.4,0,.2,1);
    transition-property: transform,width,max-width,-webkit-transform;
    background-color: var(--third-color);
}


nav {
    margin-top: 0px;
    transform: translateY(0px);
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 40px;
    /*background-color: var(--main-color);*/
    background-color: #413f44e0;
    display: flex;
    align-items: center;
    color: white;
    font-weight: normal;
}
.nav-brand{

}
main {
    color: var(--text-color);
    height: 100%;
    padding: 45px 0px 32px 300px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    transition: .5s cubic-bezier(.4,0,.2,1);
    transition-property: padding;
}
footer {
    position: fixed;
    height: 32px;
    bottom: 0;
    left: 0;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 3;
}


aside.menu-closed {
    transform: translateX(-300px);
}

main.menu-closed {
    padding: 45px 0px 32px 0px;
}

section {

}

@media screen and (max-width : 640px) {
    main {
        padding: 64px 10px 0px;
    }

    aside {
        max-height: 100%;
        top: 0px;
        z-index: 5;
        margin: 0px;
        /* transform: translateX(-300px); */
    }


    nav {
        height: 56px;
    }
}


* {
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
}

.row {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.lg-only {
    display: none;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .sm-only {display: none}
    .lg-only {display: inherit}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    [class*="col-"] {
        padding: 15px;
    }
}

.flex-center {
    display: flex;
    justify-content:center;
    align-items: center;

}