.loggin-button{
    background-color: white;
    color: black;
    font-weight: bold;
 /*   border: solid 2px #4266af;*/
    border-radius: 5px;
}
.loggin-button:hover{
    background-color: #4266af;
    color: white;
    border: solid 2px white;
    border-radius: 2px;
}

.connexion-tooltip .tooltip-content{
    visibility: hidden;
    background-color: #f8f7fd;
    color: #040223;
    text-align: left;
    border-radius: 2px;
    padding: 7px 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0%;

}
.connexion-tooltip:hover .tooltip-content{
    visibility: visible;
}
.logout-div{
    height: 100%;
    font-size: 40px;
    font-weight: bold;
    color: white;
   display: contents;
}
.logout-div:hover{
    background-color: inherit;
}
.logout-button{
    text-align: center;
    margin: 2px;
    background: #151386;
    font-weight: bold;
    color: white;
    padding: 2px;
    border-radius: 2px;
}