.section-header{
    height: 40px;
    font-size: 17px;
    font-family: fantasy;
    color: darkblue;
    margin-bottom: 10px;
}

.section-header>div.bottom-border{
    border: solid 0.5px darkblue;
    width: 75%;
    margin: 2px auto;
    box-shadow: 0px 1px 3px;

}