
.block-password-recovery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section-header{
    height: 40px;
    font-size: 17px;
    font-family: fantasy;
    color: darkblue;
    margin-bottom: 10px;
    width: 100%;
}

.section-header>div.bottom-border{
    border: solid 0.5px darkblue;
    width: 75%;
    margin: 2px auto;
    box-shadow: 0px 1px 3px;
}

.password-recovery-footer{
    width: 100%;

}

.pass-recov-setp-one-block{
    width: 100%;
    margin: 5px;
}
.pass-recov-setp-one-block >div{
    margin: 10px 2px;
}

.pass-recov-step-one-header{
    display: flex;
    justify-content: space-around;
}
.pass-recov-step-one-header > div{
    flex: 1;
    font-weight: bold;
    cursor: pointer;
}

.pass-recov-step-one-content{
    padding: 5px;
}

.email>div:nth-child(1),.contact>div:nth-child(2){
    background-color: rgba(26, 26, 206, 0.65);
    border-radius: 29px 0px 29px 0px;
    color: white;
}
.email>div:nth-child(2),.contact>div:nth-child(1){
    background-color: rgba(0, 0, 2, 0.35);
    border-radius: 29px 0px 29px 0px;
    color: white;
}

.pass-recov-button{
    background-color: #6a6adf;
    font-weight: bold;
    padding: 3px;
    color: white;
    border-radius: 6px;
    width: 30%;
    border-color: white;
}
.pass-recov-button:hover{
    font-weight: bolder;
    background-color: #5c5cbd;
}